.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  display: none;
}

.switch span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background: rgba(217, 217, 217, 0.35);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.switch span::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.switch input:checked + span::before {
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}

.switch input:checked + span {
  background: #4C85D6;
}

.side-catalog__item {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.side-catalog__item:last-child {
  margin: 0;
}

.side-catalog__actions {
  margin: 30px 0;
}

.side-catalog__submit {
  margin-bottom: 20px;
  width: 100%;
}

.side-catalog__reset {
  width: 100%;
}

.item-side-catalog__button {
  cursor: pointer;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #F5F6FA;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 16px 10px 16px 20px;
}

.item-side-catalog__button span {
  margin-right: 10px;
}

.item-side-catalog__button svg {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 20px;
  height: 20px;
}

.item-side-catalog__button.active {
  background: rgba(76, 133, 214, 0.35);
}

.item-side-catalog__button.active svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.item-side-catalog__content {
  background: #fff;
  padding: 25px 0;
}

.item-side-catalog__checkbox {
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-side-catalog__price {
  width: 100%;
}

.item-side-catalog__action {
  margin-bottom: 20px;
}

.item-side-catalog__action:last-child {
  margin: 0;
}

.price-side-catalog {
  padding: 0 28px;
}

.price-side-catalog__slider {
  margin-bottom: 22px;
}

.price-side-catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.price-side-catalog__column {
  position: relative;
  padding: 0 10px;
}

.price-side-catalog__input {
  width: 90px;
}

.price-side-catalog__input .input {
  min-height: 35px;
  padding: 0 0 0 35px;
  font-weight: 600;
  color: #000;
}

.price-side-catalog__input .input:focus {
  -webkit-transition: none;
  transition: none;
  border: 2px solid #4C85D6;
}

.price-side-catalog__label {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 12px;
  color: #6B6B6B;
}

.action-side-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.action-side-catalog__icon {
  margin-right: 17px;
}

.action-side-catalog__icon svg {
  fill: #D9D9D9;
  width: 20px;
  height: 20px;
}

.action-side-catalog__label {
  font-weight: 500;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.action-side-catalog__switch {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}

.catalog .noUi-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #4C85D6;
  -webkit-box-shadow: none;
  box-shadow: none;
  right: -8px;
  top: -6px;
  border: none;
}

.catalog .noUi-target {
  background: #F5F6FA;
  border: none;
  border-radius: 0;
}

.catalog .noUi-connect {
  background: #4C85D6;
}

.catalog .noUi-horizontal {
  height: 5px;
}

.catalog .noUi-handle:after,
.catalog .noUi-handle:before {
  display: none;
}

.catalog__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.catalog__actions {
  margin-bottom: 30px;
}

.actions-catalog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.actions-catalog__title {
  color: #353535;
  font-weight: 500;
}

.actions-catalog__count {
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #4C85D6;
}

.actions-catalog__view {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sort-actions-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort-actions-catalog__label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 18px;
  margin-right: 20px;
}

.sort-actions-catalog__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.sort-actions-catalog__item {
  margin-right: 20px;
  position: relative;
  font-size: 18px;
}

.sort-actions-catalog__item span {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sort-actions-catalog__item:last-child {
  margin: 0;
}

.sort-actions-catalog__item input {
  display: none;
}

.sort-actions-catalog__item span {
  font-size: 18px;
}

.sort-actions-catalog__list {
  position: absolute;
  top: calc(100% + 8px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 180px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  padding: 6px 0;
  z-index: 4;
}

.sort-actions-catalog__list.active {
  top: calc(100% + 3px);
  opacity: 1;
  visibility: visible;
}

.sort-actions-catalog__list span {
  display: inline-block;
  padding: 8px 14px;
}

@media (min-width: 480.98px) {
  .actions-catalog__title {
    margin-right: 10px;
  }
}

@media (min-width: 991.98px) {
  .catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .catalog__side {
    margin-right: 20px;
  }

  .catalog__side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 225px;
    flex: 0 0 225px;
  }

  .catalog .products-slider .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px !important;
  }

  .catalog .products-slider .swiper-slide {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 33.333% !important;
    flex: 0 1 33.333% !important;
    padding: 0 10px !important;
    margin: 0 0 20px 0 !important;
  }

  .catalog__content_many .products-slider .products-slider__slide {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 25% !important;
    flex: 0 1 25% !important;
  }

  .catalog.list .products-slider .products-slider__slide {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
    padding: 0 !important;
  }

  .catalog.list .products-slider .item-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .catalog.list .products-slider .item-product__labels {
    position: static;
    top: 0;
    left: 0;
    margin-bottom: 15px;
  }

  .catalog.list .products-slider .item-product__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .catalog.list .products-slider .item-product__title {
    margin-bottom: 5px;
  }

  .catalog.list .products-slider .swiper-wrapper {
    margin: 0 !important;
    -webkit-transform: none !important;
    transform: none !important;
  }

  .catalog.list .products-slider .item-product__description {
    font-size: 14px;
    line-height: 145%;
    color: #6B6B6B;
    display: block;
    max-width: 390px;
  }

  .catalog.list .products-slider .item-product__image {
    margin-right: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .catalog.list .products-slider .item-product__bottom {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .catalog.list .products-slider .item-product__price {
    margin-bottom: 0 !important;
  }

  .catalog.list .products-slider .item-product__button {
    width: auto !important;
  }

  .actions-catalog__title {
    margin-right: 30px;
  }

  .actions-catalog__count {
    margin-bottom: 6px;
  }

  .view-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .view-catalog__item {
    margin-right: 15px;
    cursor: pointer;
  }

  .view-catalog__item:last-child {
    margin: 0;
  }

  .view-catalog__item input {
    display: none;
  }

  .view-catalog__item svg {
    width: 24px;
    height: 24px;
    fill: #C4C4C4;
    color: #C4C4C4;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .view-catalog__item input:checked + svg {
    fill: #4C85D6;
    color: #4C85D6;
  }

  .sort-actions-catalog__filter {
    display: none;
  }

  .sort-actions-catalog__item_price {
    display: none;
  }

  .sort-actions-catalog__item_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sort-actions-catalog__item_list span {
    padding-right: 7px;
  }

  .sort-actions-catalog__item_list svg {
    cursor: pointer;
    margin-top: 2px;
    width: 13px;
    height: 13px;
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .sort-actions-catalog__item_list.active svg {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .sort-actions-catalog__item input:checked + span {
    color: #4C85D6;
    text-shadow: 0 0 0.65px #4C85D6, 0 0 0.65px #4C85D6;
  }

  .top-side-catalog {
    display: none;
  }
}

@media (min-width: 1300.98px) {
  .catalog__side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 290px;
    flex: 0 0 290px;
  }
}

@media (max-width: 1300.98px) {
  .item-side-catalog__button {
    padding: 20px 10px;
  }

  .item-side-catalog__button svg {
    width: 14px;
    height: 14px;
  }

  .item-side-catalog__checkbox {
    padding: 10px;
  }
}

@media (max-width: 991.98px) {
  .catalog__side {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    padding: 20px 20px 30px;
  }

  .catalog__side.active {
    opacity: 1;
    visibility: visible;
  }

  .actions-catalog__title {
    font-size: 20px;
  }

  .actions-catalog__count {
    margin-bottom: 2px;
  }

  .view-catalog {
    display: none;
  }

  .sort-actions-catalog__filter {
    margin-right: 14px;
    width: 32px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    height: 32px;
    position: relative;
    border: 1px solid #4C85D6;
    border-radius: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sort-actions-catalog__filter span {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 3px;
    right: 3px;
    background: #D72853;
    border-radius: 50%;
    color: #fff;
    font-size: 7px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sort-actions-catalog__filter svg {
    width: 20px;
    height: 20px;
    fill: #4C85D6;
  }

  .sort-actions-catalog {
    white-space: nowrap;
    overflow: auto;
    min-height: 40px;
    margin: 0 -20px;
    padding: 0 20px;
  }

  .sort-actions-catalog__item span {
    border: 1px solid #4C85D6;
    border-radius: 5px;
    min-height: 34px;
    padding: 2px 15px;
    font-weight: 500;
    font-size: 14px;
    color: #4C85D6;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sort-actions-catalog__item_list {
    display: none;
  }

  .sort-actions-catalog__item input:checked + span {
    color: #fff;
    background: #4C85D6;
  }

  .top-side-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .top-side-catalog__title {
    font-size: 24px;
    font-weight: 600;
  }

  .top-side-catalog__close svg {
    width: 24px;
    height: 24px;
    fill: #000;
  }

  .page__products-slider {
    margin-bottom: 20px;
  }

  .page__products-slider:last-child {
    margin: 0;
  }
}

@media (max-width: 480.98px) {
  .actions-catalog__count {
    display: none;
  }

  .intro-block {
    display: none;
  }
}

@media (any-hover: hover) {
  .item-side-catalog__button:hover {
    color: #fff;
    background: #4C85D6;
  }

  .item-side-catalog__button:hover svg {
    fill: #fff;
  }

  .item-side-catalog__checkbox:hover {
    background: rgba(76, 133, 214, 0.15);
  }
}


@media (min-width: 567.98px) {
    .catalog-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    .catalog-items__element {
        flex: 0 1 50%;
        padding: 0 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 767.98px) {
    .catalog-items__element {
        flex: 0 1 33.333%;
    }
}

@media (max-width: 567.98px) {
    .catalog-items__element {
        margin-bottom: 20px;
    }
    .catalog-items__element:last-child {
        margin-bottom: 0;
    }
}

