[data-tab-content] {
  display: none;
}

[data-tab-content].active {
  display: block;
}

.gallery-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-product__subslider .swiper-wrapper {
  -webkit-transform: none !important;
  transform: none !important;
}

.gallery-product__mainslider {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.subslider-gallery-product__item {
  cursor: pointer;
  height: 83px !important;
  width: 83px !important;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 10px 4px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.subslider-gallery-product__item.swiper-slide-thumb-active {
  border-color: #4C85D6;
}

.subslider-gallery-product__item:last-child {
  margin: 0;
}

.subslider-gallery-product__item img {
  max-width: 100%;
  height: auto;
  -o-object-position: center center;
  object-position: center center;
}

.mainslider-gallery-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainslider-gallery-product__item img {
  max-width: 100%;
  height: auto;
}

.body-product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.body-product__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.top-product__column:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.top-product__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.top-product__label {
  margin-right: 5px;
  border-radius: 5px;
  padding: 2px 15px;
  min-height: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  background: #4C85D6;
  color: #fff;
}

.top-product__label_red {
  background: #D72853;
}

.top-product__label:last-child {
  margin: 0;
}

.top-product__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.top-product__action {
  margin-right: 10px;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #B5B5B5;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.top-product__action:last-child {
  margin: 0;
}

.top-product__action svg {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 24px;
  height: 24px;
  color: #B5B5B5;
  fill: #B5B5B5;
}

.top-product__action.active {
  border-color: #D72853;
  background: #D72853;
}

.top-product__action.active svg {
  fill: #fff;
}

.top-product__pin {
  font-size: 14px;
  color: #828282;
  text-align: right;
}

.rating-product__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-product__star {
  margin: 0 -3px;
}

.rating-product__star svg {
  width: 24px;
  height: 24px;
  fill: #4C85D6;
  color: #4C85D6;
}

.rating-product__reviews {
  font-size: 14px;
  color: #4C85D6;
}

.info-product__label {
  font-size: 18px;
  margin-bottom: 15px;
}

.info-product__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.info-product__color {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  border: 1px solid transparent;
  background: #fff;
  position: relative;
  border-radius: 5px;
}

.info-product__color.active {
  border-color: #929292;
}

.info-product__color.active::before {
  border-color: transparent;
}

.info-product__color::before {
  content: "";
  border: 1px solid #D9D9D9;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.info-product__color_white::before {
  background: #fff;
}

.info-product__color_red::before {
  background: #D72853;
}

.info-product__color_green::before {
  background: #97D3D4;
}

.info-product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.info-product__quantity {
  margin-right: 20px;
}

.info-product__price {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.info-product__button {
  font-weight: 500 !important;
  font-size: 18px;
  min-height: 48px;
  padding: 2px 30px;
  margin-right: 20px;
}

.info-product__button:last-child {
  margin: 0;
}

.details-product__top svg {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  fill: #353535;
  margin-right: 20px;
}

.description-product strong {
  color: #000;
}

.description-product h4 {
  font-weight: 500;
  line-height: 120%;
}

.content-product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 30px;
}

.content-product__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  white-space: nowrap;
  min-height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 30px;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  line-height: 120%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews-product__top {
  margin-bottom: 20px;
}

.reviews-product__user {
  margin-bottom: 20px;
}

.reviews-product__author {
  margin-bottom: 30px;
}

.reviews-product__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 20px;
  color: #C4C4C4;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top-reviews-product__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-reviews-product__label {
  font-size: 18px;
  margin-right: 20px;
}

.top-reviews-product__value {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
}

.top-reviews-product__value input {
  display: none;
}

.top-reviews-product__value input:checked + span {
  font-weight: 600;
  color: #4C85D6;
}

.user-reviews-product {
  padding: 30px;
  background: #FAFAFC;
  border-radius: 5px;
}

.user-reviews-product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.user-reviews-product__image {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.user-reviews-product__image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-position: center center;
  object-position: center center;
  -o-object-fit: cover;
  object-fit: cover;
}

.user-reviews-product__stars {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.user-reviews-product__star {
  margin: 0 -3px;
}

.user-reviews-product__star svg {
  fill: #4C85D6;
  color: #4C85D6;
  width: 24px;
  height: 24px;
}

.user-reviews-product__item {
  margin-bottom: 20px;
}

.user-reviews-product__item:last-child {
  margin: 0;
}

.user-reviews-product__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 116.6666666667%;
  margin-bottom: 5px;
}

.user-reviews-product__text {
  line-height: 118.75%;
}

.author-reviews-product {
  padding: 30px 0;
}

.author-reviews-product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.author-reviews-product__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.author-reviews-product__image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-position: center center;
  object-position: center center;
  -o-object-fit: cover;
  object-fit: cover;
}

.author-reviews-product__info,
.user-reviews-product__info {
  padding-left: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.author-reviews-product__name,
.user-reviews-product__fullname {
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  margin-bottom: 7px;
}

.author-reviews-product__date,
.user-reviews-product__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #6B6B6B;
}

.author-reviews-product__text {
  line-height: 145%;
  padding: 9px 0 9px 76px;
  position: relative;
}

.author-reviews-product__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 29px;
  width: 1px;
  height: 100%;
  background: #000000;
}

@media (min-width: 374.98px) {
  .rating-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .rating-product__reviews {
    margin-bottom: 5px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-left: 11px;
  }
}

@media (min-width: 480.98px) {
  .info-product__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768.98px) {
  .product__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .product__gallery {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
  }

  .product__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 17px;
  }

  .info-product__warehouse {
    color: #000000;
    line-height: 118.75%;
    margin-bottom: 34px;
  }

  .content-product__buttons {
    border-bottom: 1px solid #D9D9D9;
  }

  .content-product__button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .content-product__button.active {
    color: #4C85D6;
  }

  .content-product__button.active::before {
    background: #4C85D6;
  }
}

@media (min-width: 991.98px) {
  .product__dots {
    display: none;
  }

  .product__gallery {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 470px;
    flex: 0 0 470px;
  }

  .gallery-product__subslider {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83px;
    flex: 0 0 83px;
    margin-right: 10px;
  }

  .details-product__top {
    font-weight: 500;
    font-size: 18px;
    background: #c0d4f1;
    min-height: 50px;
    padding: 3px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .reviews-product__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .reviews-product__side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 290px;
    flex: 0 0 290px;
  }

  .reviews-product__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 20px;
  }

  .top-reviews-product__action {
    display: none !important;
  }
}

@media (min-width: 1300.98px) {
  .product__gallery {
    height: 435px;
  }

  .gallery-product__subslider .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .body-product__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .body-product__info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 20px;
  }

  .body-product__details {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 290px;
    flex: 0 0 290px;
  }

  .details-product {
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  }

  .details-product__item {
    padding: 20px;
    border-bottom: 1px solid #D9D9D9;
  }

  .details-product__label {
    font-weight: 500;
    margin-bottom: 10px;
  }

  .details-product__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .details-product__action {
    font-size: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #D72853;
    text-decoration: underline;
  }
}

@media (max-width: 1300.98px) {
  .gallery-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .gallery-product__mainslider {
    margin-bottom: 20px;
    height: 350px;
  }

  .subslider-gallery-product .swiper-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .subslider-gallery-product__item {
    width: 70px !important;
    height: 70px !important;
    margin-right: 5px !important;
  }

  .subslider-gallery-product__item:last-child {
    margin: 0 !important;
  }

  .body-product__title {
    max-width: 340px;
    line-height: 125%;
    margin-bottom: 15px;
  }

  .body-product__details {
    display: none;
  }

  .top-product__actions {
    margin-bottom: 15px;
  }

  .details-product {
    display: none;
  }

  .details-product__top {
    -ms-flex-item-align: start;
    align-self: flex-start;
    min-height: 32px;
    font-size: 16px;
    padding: 2px 10px;
    border-radius: 5px;
  }

  .details-product__top svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

@media (max-width: 991.98px) {
  .product__dots {
    margin-bottom: 20px;
  }

  .gallery-product__subslider {
    display: none;
  }

  .subslider-gallery-product__item {
    width: 55px !important;
    height: 55px !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 55px !important;
    flex: 0 0 55px !important;
  }

  .details-product__top {
    display: none;
  }

  .content-product__buttons {
    margin-bottom: 20px;
  }

  .content-product__button {
    font-size: 16px;
    padding: 2px 15px;
  }

  .reviews-product__side {
    display: none;
  }

  .top-reviews-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .top-reviews-product__action {
    min-height: 45px !important;
    font-size: 18px !important;
    padding: 2px 22px !important;
  }
}

@media (max-width: 768.98px) {
  .body-product__top {
    margin-bottom: 15px;
  }

  .info-product__label {
    font-size: 16px;
  }

  .info-product__block {
    margin-bottom: 25px;
  }

  .info-product__warehouse {
    display: none;
  }

  .content-product__buttons {
    margin-bottom: 15px;
    padding: 0 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .content-product__button {
    font-size: 14px;
    line-height: 114.2857142857%;
    min-height: 36px;
    border-radius: 5px;
    border: 1px solid #4C85D6;
    margin-right: 5px;
    color: #4C85D6;
  }

  .content-product__button:last-child {
    margin: 0;
  }

  .content-product__button.active {
    color: #fff;
    background: #4C85D6;
  }

  .top-reviews-product__action {
    display: none !important;
  }

  .user-reviews-product {
    padding: 20px;
  }

  .user-reviews-product__stars {
    display: none;
  }

  .author-reviews-product {
    padding: 20px 0;
  }
}

@media (max-width: 480.98px) {
  .gallery-product__mainslider {
    height: 280px;
  }

  .info-product__button {
    width: 100%;
    margin-bottom: 15px;
  }

  .top-reviews-product__sort {
    display: none;
  }
}

@media (max-width: 374.98px) {
  .rating-product__reviews {
    margin-top: 1px;
  }
}

@media (min-width: 480.98px) and (max-width: 768.98px) {
  .info-product__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .info-product__button:first-child {
    margin-right: 10px !important;
  }

  .info-product__button:last-child {
    margin-left: 10px !important;
  }
}

@media (any-hover: hover) {
  .top-product__action:hover {
    border-color: #D72853;
    background: #D72853;
  }

  .top-product__action:hover svg {
    fill: #fff;
  }

  .content-product__button:hover {
    color: #4C85D6;
  }

  .content-product__button:hover::before {
    background: #4C85D6;
  }

  .reviews-product__more:hover {
    border-color: #4C85D6;
    color: #fff;
    background: #4C85D6;
  }

  .top-reviews-product__value span:hover {
    text-decoration: underline;
  }

  .top-reviews-product__value input:checked + span:hover {
    text-decoration: none;
  }
}