<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .preloader {
            background-color: #fff;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1000;
            transition: all 0.3s ease 0s;
        }

        .preloader.hidden {
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
        }
    </style>
    <style>
        .layout__link {
            font-size: 22px;
            transition: all 0.3s ease 0s;
            font-weight: 500;
        }

        .layout__link:hover {
            color: #4C85D6;
        }

        .layout__item {
            margin-bottom: 25px;
        }

        .layout__item::before {
            content: '-';
            font-size: 22px;
            font-weight: 500;
        }
    </style>
    <link rel="stylesheet" href="assets/css/style.css?_v=20230301025217">
    <title>Общая</title>
</head>

<body>

    <div class="wrapper">
        <div class="preloader"></div>
        <header class="header">
            <div class="header__top top-header">
                <div class="top-header__container container">
                    <div class="top-header__menu menu">
                        <div class="menu__body">
                            <nav class="menu__nav">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="" class="menu__link">О компании</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="" class="menu__link">Оплата и доставка</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="" class="menu__link">Сервис и монтаж</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="" class="menu__link">Гарантия и возврат</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="" class="menu__link">Отзывы</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="" class="menu__link">Контакты</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div data-da=".menu__body,991.98,first" class="top-header__info">
                        <a href="tel:70720722222">+7 072 072 2222</a> (с 09:00 до 18:00)
                    </div>
                </div>
            </div>
            <div class="header__main main-header">
                <div class="main-header__container container">
                    <div class="main-header__block">
                        <a href="" class="main-header__logo">
                            <picture>
                                <source srcset="assets/images/logo.svg" media="(min-width: 991.98px)">
                                <source srcset="assets/images/logo-white.svg" media="(max-width: 991.98px)">
                                <img src="assets/images/logo.svg" alt="">
                            </picture>
                        </a>
                        <div class="main-header__burger burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div data-da=".page,767.98,first" class="main-header__search search-header">
                        <form action="#" class="search-header__form">
                            <div class="search-header__input">
                                <input class="input" placeholder="Найти интересующий товар" type="text">
                            </div>
                            <button class="search-header__button stroke" type="button">
                                <svg>
                                    <use xlink:href="assets/images/icons/icons.svg#search"></use>
                                </svg>
                            </button>
                        </form>
                    </div>
                    <ul data-da=".menu__body,767.98,last" class="main-header__actions actions-header">
                        <li class="actions-header__item">
                            <a href="" class="actions-header__link">
                                <div class="actions-header__icon">
                                    <svg>
                                        <use xlink:href="assets/images/icons/icons.svg#compare"></use>
                                    </svg>
                                </div>
                                <span>Сравнить</span>
                            </a>
                        </li>
                        <li class="actions-header__item">
                            <a href="" class="actions-header__link">
                                <div class="actions-header__icon">
                                    <svg>
                                        <use xlink:href="assets/images/icons/icons.svg#favorite"></use>
                                    </svg>
                                </div>
                                <span>Избранное</span>
                            </a>
                        </li>
                        <li class="actions-header__item">
                            <a href="" class="actions-header__link">
                                <div class="actions-header__icon">
                                    <svg>
                                        <use xlink:href="assets/images/icons/icons.svg#cart"></use>
                                    </svg>
                                </div>
                                <span>Корзина</span>
                            </a>
                        </li>
                        <li class="actions-header__item">
                            <a href="" class="actions-header__link">
                                <div class="actions-header__icon">
                                    <svg>
                                        <use xlink:href="assets/images/icons/icons.svg#user"></use>
                                    </svg>
                                </div>
                                <span>Войти</span>
                            </a>
                        </li>
                    </ul>
                    <a href="" class="main-header__cart">
                        <svg>
                            <use xlink:href="assets/images/icons/icons.svg#cart"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="header__categories categories-header">
                <div class="categories-header__container container">
                    <ul class="categories-header__list">
                        <li class="categories-header__item">
                            <a href="" class="categories-header__link">Отопление</a>
                        </li>
                        <li class="categories-header__item">
                            <a href="" class="categories-header__link">Водоснабжение</a>
                        </li>
                        <li class="categories-header__item">
                            <a href="" class="categories-header__link">Трубы и фитинги</a>
                        </li>
                        <li class="categories-header__item">
                            <a href="" class="categories-header__link">Кондиционеры</a>
                        </li>
                        <li class="categories-header__item">
                            <a href="" class="categories-header__link">Сантехника</a>
                        </li>
                        <li class="categories-header__item">
                            <a href="" class="categories-header__link">Бытовая техника для дома и кухни</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>








        <main class="page">

            <div class="page__container container">

                <div class="layout">
                    <ul class="layout__list">
                        <li class="layout__item">
                            <a href="./" class="layout__link">Главная</a>
                        </li>
                        <li class="layout__item">
                            <a href="./about.html" class="layout__link">О компании</a>
                        </li>
                        <li class="layout__item">
                            <a href="./catalog.html" class="layout__link">Каталог</a>
                        </li>
                        <li class="layout__item">
                            <a href="./catalog-2.html" class="layout__link">Каталог без фильтра</a>
                        </li>
                        <li class="layout__item">
                            <a href="./checkout.html" class="layout__link">Оформление заказа</a>
                        </li>
                        <li class="layout__item">
                            <a href="./checkout-success.html" class="layout__link">Успешное оформление заказа</a>
                        </li>
                        <li class="layout__item">
                            <a href="./delivery.html" class="layout__link">Доставка и оплата</a>
                        </li>
                        <li class="layout__item">
                            <a href="./login.html" class="layout__link">Вход на сайт</a>
                        </li>
                        <li class="layout__item">
                            <a href="./new-review.html" class="layout__link">Новый отзыв</a>
                        </li>
                        <li class="layout__item">
                            <a href="./product.html" class="layout__link">Страница продукта</a>
                        </li>
                        <li class="layout__item">
                            <a href="./registration.html" class="layout__link">Регистрация</a>
                        </li>
                        <li class="layout__item">
                            <a href="./review.html" class="layout__link">Обратная связь</a>
                        </li>
                        <li class="layout__item">
                            <a href="./bank-card.html" class="layout__link">Оплата картой</a>
                        </li>
                    </ul>
                </div>

            </div>

        </main>
        <div class="footer">
            <div class="footer__top top-footer">
                <div class="top-footer__container container">
                    <div class="top-footer__main main-footer">
                        <a href="" class="main-footer__logo">
                            <img src="assets/images/logo-white.svg" alt="">
                        </a>
                        <div class="main-footer__copy">(с) 2023 Интернет магазин отопительных
                            <br>
                            систем KLONDAYK в Луганске и ЛНР
                        </div>
                        <a href="tel:70720722222" class="main-footer__phone">+7 072 072 2222</a>
                        <div class="main-footer__schedule">Пн-Пт: с 9:00 до 18:00 Сб: с 10:00 до 17:00</div>
                    </div>
                    <div class="top-footer__menu menu-footer">
                        <div class="menu-footer__column">
                            <div class="menu-footer__title footer-title">Покупателям</div>
                            <ul class="menu-footer__list">
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">О компании</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Оплата и доставка</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Сервис и монтаж</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Гарантия и возврат</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Отзывы</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Контакты</a>
                                </li>
                            </ul>
                        </div>


                        <div class="menu-footer__column">
                            <div class="menu-footer__title footer-title">Полезное</div>
                            <ul class="menu-footer__list">
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Акции</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Бренды</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Новинки</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Гарантия и возврат</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Отзывы</a>
                                </li>
                                <li class="menu-footer__item">
                                    <a href="" class="menu-footer__link">Хиты продаж</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-footer__contacts contacts-footer">
                        <div class="contacts-footer__title footer-title">Контакты</div>
                        <div class="contacts-footer__items">
                            <div class="contacts-footer__item">
                                <span class="contacts-footer__label">Почта:</span>
                                <a href="mailto:zakaz@klondayk.lg.ua" class="contacts-footer__value">zakaz@klondayk.lg.ua</a>
                            </div>
                            <div class="contacts-footer__item">
                                <span class="contacts-footer__label">Телефон:</span>
                                <a href="tel:70720722222" class="contacts-footer__value">+7 (072) 072 2222</a>
                            </div>
                        </div>
                        <div data-da=".top-footer__container,991.98,2" class="contacts-footer__payment">
                            <div class="contacts-footer__text">Мы принимаем к оплате:</div>
                            <div class="contacts-footer__cards">
                                <img src="assets/images/payment.png" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer__bottom bottom-footer">
                <div class="bottom-footer__container container">
                    <div class="bottom-footer__copy">(c) 2023 KLONDAYK.ru Все права защищены.</div>
                    <a href="" class="bottom-footer__politics">Политика конфенденциальности</a>
                    <a href="" class="bottom-footer__rules">Правила использования сайта</a>
                </div>
            </div>
        </div>

    </div>
    <script>
    window.addEventListener('load', function() {
        const preloader = document.querySelector('.preloader')
        preloader.classList.add('hidden')
    })
</script>
    <script src="assets/js/script.js?_v=20230301025217"></script>
    <script src="assets/js/app.js?_v=20230301025217"></script>
</body>

</html>